@import "dav/dav-style.css";
@import "dav/dav-icon.css";
@import "app/dav-layout.css";
@import "app/dav-component.css";

ul {
  width: 100%;
  list-style: none;
}

.dav-button-s {
  color: var(--cl-black);
}

/* ! _Seccion - Hero_ */
/* ? _Hero - Content -left_ */
.hero-title {
  & h1 {
    color: var(--cl-grey);
  }
}

/* ! _Footer_ */
/* ? _Footer - Social_ */
.footer-social {
  & a {
    border-left: 0.2rem solid var(--cl-white);
    border-radius: 50%;
    padding: 0.5rem;
    color: var(--cl-white);
  }
}
.zmdi-code {
  color: var(--cl-green);
}
